body
{
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}
.navbar{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    display: flex;
    margin: 30px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.logo{
    height: 25px;
}
ul{
    display: flex;
    gap: 25px;
    font-size: small;
    font-weight: bold;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: white;

}
a.nav {
    text-decoration: none; 
    color: white; 
    position: relative;
}

a.nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    background-color: white;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; 

}
a.nav:hover::before {
    width: 100%; 
    
}
.menu
{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.menu:hover
{
  color: gray;
}
.fill-white {
    fill: #fff; 
  }
#menuToggle
{
  display: block;
  position: absolute;
  top: 9px;
  right: 83px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle span
{
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 41px;
  text-align: -webkit-center;
  padding-top: 125px;
  right: -122px;
  display: block;
  height: 580px;
  background: black;
  color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 15px;
  font-family: math;
}
#menuToggle input:checked ~ ul
{
  transform: none;
  opacity: 1;
}
hr{
    border: none;
    border-top: 2px solid #232323;
    width: 57%;
    margin: 5px;
    margin-right: 117px;
}
.text{
    display: block;
    position: absolute;
    padding: 126px;
    top: 340px;
    color: white;
}
h2{
    font-size: 25px;
    font-family: math;
}
h1{
    font-size: 35px;
    font-family: math;
}
.btn{    
    width: 130px;
    height: 44px;
    background: none;
    border: 1px solid white;
    color: white;
    transition: .5s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: white;
    color: #000;
}
.navigation1, #menuToggle1{
    display: none;
}
.img1{
    width: 100%;
    height: 720px;
}

.text1{
    display: block;
    position: absolute;
    padding: 126px;
    top: 1000px;
    color: white;
}
.img2{
    margin-top: -4px;
    width: 100%;
    height: 720px;
}

.text2{
    display: block;
    position: absolute;
    padding: 126px;
    top: 1700px;
    color: white;
}

.text3{
    display: block;
    position: absolute;
    padding: 126px;
    top: 2400px;
    color: white;
}
.text4{
    display: block;
    position: absolute;
    padding: 126px;
    top: 3100px;
    color: white;
}

footer{
    background-color: #000;
    height: 80px;
    width: 100%;
    margin-top: -4px;
}
.about{
    display: flex;
    justify-content: center;
}
.spacex{
    color: darkgray;
    font-size: smaller;
}
.about-mobile{
    display: none;
}
#menuToggle2, #menuToggle3{
    display: none;
}
.img1, .img2, .img3{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------Responsive For Mobiles------------------------------------------------------------ */
@media(max-width:768px){
    .nav{
        display: none;
    }
     #menuToggle,#menuToggle2, #menuToggle3{
        display: none;
    }
    #menuToggle1
{
  display: block;
  position: absolute;
  top: 9px;
  right: 83px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle1 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle1 span
{
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle1 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle1 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle1 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle1 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle1 input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 14px;
  text-align: -webkit-center;
  padding-top: 125px;
  right: -122px;
  display: block;
  height: 810px;
  background: black;
  color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 12px;
  font-family: math;
}
#menuToggle1 input:checked ~ ul
{
  transform: none;
  opacity: 1;
}
.logo{
    position: absolute;
    margin-right: 50px;
}
header{
    display: flex;
    justify-content: center;
}
h2{
    font-size: 16px;
}
h1{
    font-size: 25px;
}
.text{
    padding: 34px;
    top: 520px;
}
.img1, .img2, .img3{
    width: 100%;
    height: 912px;
}
.mob-text{
    margin-right: 66px;
}
.falcon{
    margin-right: 22px;
}
.text1{
    padding: 34px;
    top: 1500px;  
}
.text2{
    padding: 34px;
    top: 2400px;
}
.text3{
    padding: 34px;
    top: 3310px;
}
.text4{
    padding: 34px;
    top: 4260px;
}
.rideshare{
    margin-right: 10px;
}
.about{
    display: none;
}
.about-mobile{
   display: block;
}
footer{
    margin-top: -17px;
}
#spacex{
    margin-left: 110px;
}
#privacy{
    margin-left: 70px;
}

}
/* -----------------------------Responsive For tablets--------------------------------------- */
@media (min-width: 768px) and (max-width: 1023px){
    .nav{
        display: none;
    }
     #menuToggle, #menuToggle3,#menuToggle1{
        display: none;
    }
    #menuToggle2
{
  display: block;
  position: absolute;
  top: 9px;
  right: 83px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle2 input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}
#menuToggle2 span
{
  display: block;
  width: 25px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle2 span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle2 span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle2 input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle2 input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle2 input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 14px;
  text-align: -webkit-center;
  padding-top: 125px;
  right: -122px;
  display: block;
  height: 810px;
  background: black;
  color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 12px;
  font-family: math;
}
#menuToggle2 input:checked ~ ul
{
  transform: none;
  opacity: 1;
}
.logo{
    position: absolute;
    margin-right: 50px;
}
header{
    display: flex;
    justify-content: center;
}
}

/* -----------------------------------------Responsive For low end Mobiles--------------------------------------------- */
@media(min-width:280px)and (max-width:768px){
    .about-mobile{
        margin-left: -7px;
    }
}

@media(min-width:280px)and (max-width:375px){
    .about-mobile{
        margin-left: -53px;
    }
    .logo{
        margin-right: 80px;
        height: 22px;
    }
}
@media(min-width:360px)and (max-width:768px){
    .about-mobile{
        margin-left: -7px;
    }
}

@media(max-width:280px){
    .logo{
        height: 22px;
        margin-right: 80px;
    }
}
@media(min-width:500px) and (max-width:768px){
    .about-mobile{
        margin-left: 50px;
    }
}
@media(min-width:600px) and (max-width:768px){
    .about-mobile{
        margin-left: 160px;
    }
}
@media(max-width:280px){
    .about-mobile{
        margin-left: -56px;
    }
}
/* -----------------------------------------For Larger Tablets------------------------------------------------------- */
@media (min-width:1024px) and (max-width:1250px)
{
    .nav, #menuToggle, #menuToggle1, #menuToggle2{
        display: none;
    }
    
    #menuToggle3
    {
      display: block;
      position: absolute;
      top: 9px;
      right: 83px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none;
    }
    #menuToggle3 input
    {
      display: block;
      width: 40px;
      height: 32px;
      position: absolute;
      top: -7px;
      left: -5px;
      
      cursor: pointer;
      
      opacity: 0; 
      z-index: 2; 
      
      -webkit-touch-callout: none;
    }
    #menuToggle3 span
    {
      display: block;
      width: 25px;
      height: 2px;
      margin-bottom: 5px;
      position: relative;
      
      background: #cdcdcd;
      border-radius: 3px;
      
      z-index: 1;
      
      transform-origin: 4px 0px;
      
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }
    
    #menuToggle3 span:first-child
    {
      transform-origin: 0% 0%;
    }
    
    #menuToggle3 span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }
    #menuToggle3 input:checked ~ span
    {
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px);
      background: #232323;
    }
    #menuToggle3 input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle3 input:checked ~ span:nth-last-child(2)
    {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px);
    }
    #menu
    {
      position: absolute;
      width: 300px;
      margin: -100px 0 0 0;
      padding: 14px;
      text-align: -webkit-center;
      padding-top: 125px;
      right: -122px;
      display: block;
      height: 810px;
      background: black;
      color: white;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;  
      transform-origin: 0% 0%;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    
    #menu li
    {
      padding: 10px 0;
      font-size: 12px;
      font-family: math;
    }
    #menuToggle3 input:checked ~ ul
    {
      transform: none;
      opacity: 1;
    }
}

/* --------------------------------------------------For Larger Desktop Screens------------------------------------------------------------ */
@media(min-width:2000px){
ul{
    font-size: large;
    margin-top: 5px;
}
}
